<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <form action="">

    <div class="container column mt-5 mb-5 card is-half">

      <p class="title is-1 text-center">Cadastro de Consulta</p>

      <div class="card-content">

        <div class="field">
          <label class="label">Nome do Paciente</label>
          <div class="control">
            <input class="input" type="text" name="name" id="name" placeholder="Insira o nome aqui">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input class="input" type="email" name="email" id="email" placeholder="email@email.com  ">
          </div>
        </div>

        <div class="field">
          <label class="label">CPF</label>
          <div class="control">
            <input class="input" type="text" name="cpf" id="cpf" placeholder="000.000.000-00">
          </div>
        </div>

        <div class="field">
          <label class="label">Descrição</label>
          <div class="control">
            <textarea class="textarea has-fixed-size" name="description" id="description" placeholder="Descreva a consulta aqui"></textarea>
          </div>
        </div>

        <div class="field">
          <label class="label">Data da consulta</label>
          <div class="control">
            <input class="input" type="date" name="date" id="date" placeholder="xx/xx/xxx">
          </div>
        </div>

        <div class="field">
          <label class="label">Hora da consulta</label>
          <div class="control">
            <input class="input" type="time" name="time" id="time" placeholder="xx/xx/xxx">
          </div>
        </div>

        <button class="button is-rounded is-success is-light is-fullwidth">Cadastrar</button>

      </div>

    </div>
  </form>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>