<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>

    <style>
        *{margin:0; padding: 0; box-sizing: border-box;}

        .calendar{
            width: 80%;
            margin: 30px auto;
            height: 80vh;
            font-family: 'Open Sans', sans-serif;
        }
    </style>
</head>
<body>
    <div class="calendar" id="calendar"></div>
</body>
<script>

    var element = document.getElementById("calendar");
    var calendar = new FullCalendar.Calendar(element, {
        initialView: 'dayGridMonth',
        locale: 'pt-br',
    });

    calendar.render();

</script>
</html>